body {
    background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh;/* You must set a specified height */
    width: 100%;
    background-size: cover;
  }
.fa{
    color: #fff;
    font-size: 40px;
    padding: 10px;
}
