.alert{
    border-radius: 50px;
    display: none;
}
i{
    color: #fff;
}
.hero{
	height: 100vh;
	background-image:url(../../images/background.png);
	background-size: cover;
	background-position: center;
}
.hero h1{
	color: #fff;
}
#loading{
	background: #000 url(../../images/circle-loader-gif-2.gif) no-repeat center center;
	background-size: 15%;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
}
@media screen and (max-width:474px){
	#loading{
		background-size: 30%;
	}
}
