.alert{
    border-radius: 50px;
    display: none;
}
i{
    color: #fff;
}
.hero{
	height: 100vh;
	background-image:url(../../images/background.png);
	background-size: cover;
	background-position: center;
}
.hero h1{
	color: #fff;
}