body{
   height: 100vh;
    background-image:url(../../images/background.png);
    background-size: cover;
    background-position: center;
}
.box{
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width:474px){
	.box{
	flex-direction: column;	
	}
	body{
		background: #3498db;
	}
}
